body {
    border: 1px solid black;
    margin: 30px;
    padding: 30px;
    border-radius:4px;
  }


  h1{
    text-align: center;
  }

.formelement input,.formelement #country{
    border: 2px solid black;
    width:20%;
    border-radius: 4px;
    margin:12px
}

 input[type="email"]{
    margin-left:40px
}

.error{
    color:red;
}

.btn,#toggleBtn{
    width:80px;
border-radius:6px;
margin:20px 0 0 20px;


}